<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
 
	<appender name="RUN"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<file>./logs/RUN.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/RUN.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<!--  maxFileSize>100MB</maxFileSize-->
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
 
		<encoder>
			<!--  pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level  [%thread] %logger{35} : %msg %n</pattern-->
			<pattern>%d{yyyy:MM:dd HH:mm:ss} %-5level : %logger{64} : %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss}  %-5level : %logger{64} - %msg%n
			</Pattern>
		</layout>
	</appender>
 
	<logger name="org.springframework.core" level="INFO">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<logger name="org.springframework.beans" level="INFO">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<logger name="org.springframework.context" level="INFO">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<logger name="org.springframework.web" level="DEBUG">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<logger name="java.sql" level="DEBUG">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<logger name="io.swagger" level="DEBUG">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<logger name="com.youngplussoft" level="DEBUG">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<logger name="org.mybatis" level="DEBUG">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<logger name="org.hibernate" level="DEBUG">
		<appender-ref ref="RUN" />
		<!-- appender-ref ref="RUN" /-->
	</logger>
	<root level="INFO">
		<appender-ref ref="RUN" />
	</root>
</configuration>