<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Config">

	<!-- 사용자 관리 관련 쿼리 START -->
	
	<select id="select" resultType="configVO">
		select * from TB_CONFIG ;
	</select>
	

	
	<insert id="insert" parameterType="configVO">
	INSERT INTO TB_CONFIG VALUES ( 
					#{title},                    
					#{theme},
					#{admin},
					#{admin_email},
					#{admin_email_name},
					#{add_script},
					#{use_point},
					#{point_term},
					#{use_copy_log},
					#{use_email_certify},
					#{login_point},
					#{cut_name},
					#{nick_modify},
					#{new_skin},
					#{new_rows},
					#{search_skin},
					#{connect_skin},
					#{faq_skin},
					#{read_point},
					#{write_point},
					#{comment_point},
					#{download_point},
					#{write_pages},
					#{mobile_pages},
					#{link_target},
					#{delay_sec},
					#{filter},
					#{possible_ip},
					#{intercept_ip},
					#{analytics},
					#{add_meta},
					#{syndi_token},
					#{syndi_except},
					#{member_skin},
					#{use_homepage},
					#{req_homepage},
					#{use_tel},
					#{req_tel},
					#{use_hp},
					#{req_hp},
					#{use_addr},
					#{req_addr},
					#{use_signature},
					#{req_signature},
					#{use_profile},
					#{req_profile},
					#{register_level},
					#{register_point},
					#{icon_level},
					#{use_recommend},
					#{recommend_point},
					#{leave_day},
					#{search_part},
					#{email_use},
					#{email_wr_super_admin},
					#{email_wr_group_admin},
					#{email_wr_board_admin},
					#{email_wr_write =  
					#{email_wr_comment_all},
					#{email_mb_super_admin},
					#{email_mb_member},
					#{email_po_super_admin},
					#{prohibit_id},
					#{prohibit_email},
					#{new_del},
					#{memo_del},
					#{visit_del},
					#{popular_del},
					NOW(), 
					#{use_member_icon},
					#{member_icon_size},
					#{member_icon_width},
					#{member_icon_height},
					#{login_minutes},
					#{image_extension},
					#{flash_extension},
					#{movie_extension},
					#{ormmail_is_member},
					#{page_rows},
					#{mobile_page_rows},
					#{visit},
					#{max_po_id},
					#{stipulation},
					#{privacy},
					#{open_modify},
					#{memo_send_point},
					#{mobile_new_skin},
					#{mobile_search_skin},
					#{mobile_connect_skin},
					#{mobile_faq_skin},
					#{mobile_member_skin},
					#{captcha_mp3},
					#{editor},
					#{cert_use},
					#{cert_ipin},
					#{cert_hp},
					#{cert_kcb_cd},
					#{cert_kcp_cd},
					#{lg_mid},
					#{lg_mert_key},
					#{cert_limit},
					#{cert_req},
					#{sms_use},
					#{sms_type},
					#{icode_id},
					#{icode_pw},
					#{icode_server_ip},
					#{icode_server_port},
					#{googl_shorturl_apikey},
					#{facebook_appid},
					#{facebook_secret},
					#{twitter_key},
					#{twitter_secret},
					#{kakao_js_apikey},
					#{tmp1_subj},
					#{tmp2_subj},
					#{tmp3_subj},
					#{tmp4_subj},
					#{tmp5_subj},
					#{tmp6_subj},
					#{tmp7_subj},
					#{tmp8_subj},
					#{tmp9_subj},
					#{tmp10_subj},
					#{tmp1},
					#{tmp2},
					#{tmp3},
					#{tmp4},
					#{tmp5},
					#{tmp6},
					#{tmp7},
					#{tmp8},
					#{tmp9},
					#{tmp10}
					
	)
	</insert>
	
	<update id="update" parameterType="configVO">
	UPDATE TB_CONFIG
		<set>
			  title =                        #{title},                    
			  theme =                        #{theme},
			  admin =                        #{admin},
			  admin_email =                  #{admin_email},
			  admin_email_name =             #{admin_email_name},
			  add_script =                   #{add_script},
			  use_point =                    #{use_point},
			  point_term =                   #{point_term},
			  use_copy_log =                 #{use_copy_log},
			  use_email_certify =            #{use_email_certify},
			  login_point =                  #{login_point},
			  cut_name =                     #{cut_name},
			  nick_modify =                  #{nick_modify},
			  new_skin =                     #{new_skin},
			  new_rows =                     #{new_rows},
			  search_skin =                  #{search_skin},
			  connect_skin =                 #{connect_skin},
			  faq_skin =                     #{faq_skin},
			  read_point =                   #{read_point},
			  write_point =                  #{write_point},
			  comment_point =                #{comment_point},
			  download_point =               #{download_point},
			  write_pages =                  #{write_pages},
			  mobile_pages =                 #{mobile_pages},
			  link_target =                  #{link_target},
			  delay_sec =                    #{delay_sec},
			  filter =                       #{filter},
			  possible_ip =                  #{possible_ip},
			  intercept_ip =                 #{intercept_ip},
			  analytics =                    #{analytics},
			  add_meta =                     #{add_meta},
			  syndi_token =                  #{syndi_token},
			  syndi_except =                 #{syndi_except},
			  member_skin =                  #{member_skin},
			  use_homepage =                 #{use_homepage},
			  req_homepage =                 #{req_homepage},
			  use_tel =                      #{use_tel},
			  req_tel =                      #{req_tel},
			  use_hp =                       #{use_hp},
			  req_hp =                       #{req_hp},
			  use_addr =                     #{use_addr},
			  req_addr =                     #{req_addr},
			  use_signature =                #{use_signature},
			  req_signature =                #{req_signature},
			  use_profile =                  #{use_profile},
			  req_profile =                  #{req_profile},
			  register_level =               #{register_level},
			  register_point =               #{register_point},
			  icon_level =                   #{icon_level},
			  use_recommend =                #{use_recommend},
			  recommend_point =              #{recommend_point},
			  leave_day =                    #{leave_day},
			  search_part =                  #{search_part},
			  email_use =                    #{email_use},
			  email_wr_super_admin =         #{email_wr_super_admin},
			  email_wr_group_admin =         #{email_wr_group_admin},
			  email_wr_board_admin =         #{email_wr_board_admin},
			  email_wr_write =               #{email_wr_write =  
			  email_wr_comment_all =         #{email_wr_comment_all},
			  email_mb_super_admin =         #{email_mb_super_admin},
			  email_mb_member =              #{email_mb_member},
			  email_po_super_admin =         #{email_po_super_admin},
			  prohibit_id =                  #{prohibit_id},
			  prohibit_email =               #{prohibit_email},
			  new_del =                      #{new_del},
			  memo_del =                     #{memo_del},
			  visit_del =                    #{visit_del},
			  popular_del =                  #{popular_del},
			  optimize_date =                #{optimize_date},
			  use_member_icon =              #{use_member_icon},
			  member_icon_size =             #{member_icon_size},
			  member_icon_width =            #{member_icon_width},
			  member_icon_height =           #{member_icon_height},
			  login_minutes =                #{login_minutes},
			  image_extension =              #{image_extension},
			  flash_extension =              #{flash_extension},
			  movie_extension =              #{movie_extension},
			  ormmail_is_member =            #{ormmail_is_member},
			  page_rows =                    #{page_rows},
			  mobile_page_rows =             #{mobile_page_rows},
			  visit =                        #{visit},
			  max_po_id =                    #{max_po_id},
			  stipulation =                  #{stipulation},
			  privacy =                      #{privacy},
			  open_modify =                  #{open_modify},
			  memo_send_point =              #{memo_send_point},
			  mobile_new_skin =              #{mobile_new_skin},
			  mobile_search_skin =           #{mobile_search_skin},
			  mobile_connect_skin =          #{mobile_connect_skin},
			  mobile_faq_skin =              #{mobile_faq_skin},
			  mobile_member_skin =           #{mobile_member_skin},
			  captcha_mp3 =                  #{captcha_mp3},
			  editor =                       #{editor},
			  cert_use =                     #{cert_use},
			  cert_ipin =                    #{cert_ipin},
			  cert_hp =                      #{cert_hp},
			  cert_kcb_cd =                  #{cert_kcb_cd},
			  cert_kcp_cd =                  #{cert_kcp_cd},
			  lg_mid =                       #{lg_mid},
			  lg_mert_key =                  #{lg_mert_key},
			  cert_limit =                   #{cert_limit},
			  cert_req =                     #{cert_req},
			  sms_use =                      #{sms_use},
			  sms_type =                     #{sms_type},
			  icode_id =                     #{icode_id},
			  icode_pw =                     #{icode_pw},
			  icode_server_ip =              #{icode_server_ip},
			  icode_server_port =            #{icode_server_port},
			  googl_shorturl_apikey =        #{googl_shorturl_apikey},
			  facebook_appid =               #{facebook_appid},
			  facebook_secret =              #{facebook_secret},
			  twitter_key =                  #{twitter_key},
			  twitter_secret =               #{twitter_secret},
			  kakao_js_apikey =              #{kakao_js_apikey},
			  tmp1_subj =                    #{tmp1_subj},
			  tmp2_subj =                    #{tmp2_subj},
			  tmp3_subj =                    #{tmp3_subj},
			  tmp4_subj =                    #{tmp4_subj},
			  tmp5_subj =                    #{tmp5_subj},
			  tmp6_subj =                    #{tmp6_subj},
			  tmp7_subj =                    #{tmp7_subj},
			  tmp8_subj =                    #{tmp8_subj},
			  tmp9_subj =                    #{tmp9_subj},
			  tmp10_subj =                   #{tmp10_subj},
			  tmp1 =                         #{tmp1},
			  tmp2 =                         #{tmp2},
			  tmp3 =                         #{tmp3},
			  tmp4 =                         #{tmp4},
			  tmp5 =                         #{tmp5},
			  tmp6 =                         #{tmp6},
			  tmp7 =                         #{tmp7},
			  tmp8 =                         #{tmp8},
			  tmp9 =                         #{tmp9},
			  tmp10 =                        #{tmp10}
		</set>
	</update>
	
	<delete id="delete">
	DELETE FROM TB_USER 
	</delete>
	
	
	<!-- 사용자관리 관련 쿼리 END -->
	
</mapper>